<div class="main-menu">
  <ng-container *ngIf="stats && games">
    <div class="side-menu">
      <app-profile-card [stats]="stats"></app-profile-card>
    </div>
    <div class="game-list">
      <ng-container *ngFor="let game of games.games">
        <app-game-card [game]="game"> </app-game-card>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!stats || !games">
    <div class="center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-container>
</div>
