/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Righteous&display=swap");

html {
  background: #606060;
}

.circular {
  border-radius: 50%;
}

.game-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game {
  height: 100px;
  margin: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.kda {
  margin: auto;
  font-size: 50px;
  font-family: "Lexend Peta", sans-serif;
}

.icon {
  padding-top: 10px;
  height: 80px;
}
